# Data Visualization Using Python

A survey was conducted to gauge an audience interest in different data science topics, namely:

Big Data (Spark / Hadoop)
Data Analysis / Statistics
Data Journalism
Data Visualization
Deep Learning
Machine Learning
The participants had three options for each topic: Very Interested, Somewhat interested, and Not interested. 2,233 respondents completed the survey.

The survey results have been saved in a csv file and can be accessed through this link: https://cocl.us/datascience_survey_data.

If you examine the csv file, you will find that the first column represents the data science topics and the first row represents the choices for each topic.

In [1]:
#importing the Libraries..

import pandas as pd
import numpy as np

In [3]:
#loading the DataFrame 
df_sr = pd.read_csv('https://cocl.us/datascience_survey_data',index_col = 0)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [4]:
#using head displaying the data..

df_sr.head()

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136

In [5]:
df_sr.shape

(6, 3)

In [6]:
df_sr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Big Data (Spark / Hadoop) to Machine Learning
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Very interested      6 non-null      int64
 1   Somewhat interested  6 non-null      int64
 2   Not interested       6 non-null      int64
dtypes: int64(3)
memory usage: 192.0+ bytes